#assign_header {
	background-color: darkblue;
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 18px;
	text-align: center;
	font-family: "times",times;
}


#assign_headline {
font-size: 20px;
font-family: "times", times;
text-align: left;
}


}

#assign_headline h3{
font-size: 20px;
font-family: "times", times;
}

.caption {
	font-size: 14px;
	color: gray;
	margin-top: 8px;
}


/*Feel free to add to this file, but leave the
stuff above alone.*/